@{
    ViewData["Title"] = "Panel de Inicio";
}

<div class="container mt-5">
    <div class="alert alert-success text-center">
        <h4>Bienvenido, @ViewBag.NombreEmpleado</h4>
        <p>Has iniciado sesión correctamente.</p>
    </div>
</div>

